# Data Preparation

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [11]:
file_name='../datasets/twitter.csv'
data = pd.read_csv(file_name)

In [12]:
df = pd.DataFrame(data)

In [40]:
#Informaci√≥n de columnas y filas, con sus respectivos nombres
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100001 entries, 0 to 100000
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TweetID        100000 non-null  object
 1    Weekday       100000 non-null  object
 2    Hour          100000 non-null  float64
 3    Day           100000 non-null  float64
 4    Lang          100000 non-null  object
 5    IsReshare     100000 non-null  float64
 6    Reach         100000 non-null  float64
 7    RetweetCount  100000 non-null  float64
 8    Likes         100000 non-null  float64
 9    Klout         100000 non-null  float64
 10   Sentiment     100000 non-null  float64
 11   text          100000 non-null  object
 12   LocationID    100000 non-null  float64
 13   UserID        100000 non-null  object
dtypes: float64(9), object(5)
memory usage: 10.7+ MB
None

In [44]:
df.head()

,TweetID,Weekday,Hour,Day,Lang,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,text,LocationID,UserID
0,tw-682712873332805633,Thursday,17.0,31.0,en,0.0,44.0,0.0,0.0,35.0,0.0,We are hiring: Senior Software Engineer - Prot...,3751.0,tw-40932430
1,tw-682713045357998080,Thursday,17.0,31.0,en,1.0,1810.0,5.0,0.0,53.0,2.0,RT @CodeMineStatus: This is true Amazon Web Se...,3989.0,tw-3179389829
2,tw-682713219375476736,Thursday,17.0,31.0,en,0.0,282.0,0.0,0.0,47.0,0.0,Devops Engineer Aws Ansible Cassandra Mysql Ub...,3741.0,tw-4624808414
3,tw-682713436967579648,Thursday,17.0,31.0,en,0.0,2087.0,4.0,0.0,53.0,0.0,Happy New Year to all those AWS instances of o...,3753.0,tw-356447127
4,tw-682714048199311366,Thursday,17.0,31.0,en,0.0,953.0,0.0,0.0,47.0,0.0,Amazon is hiring! #Sr. #International Tax Mana...,3751.0,tw-3172686669

In [39]:
df.describe()

,Hour,Day,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,LocationID
count,100000.000000,100000.000000,100000.00000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,11.412490,15.894960,0.35462,8.542396e+03,8.052750,0.152770,40.389260,0.380921,2836.163440
std,6.053577,8.399852,0.47840,8.867027e+04,97.863474,2.583633,13.636513,1.046559,1323.140242
min,0.000000,1.000000,0.00000,0.000000e+00,0.000000,0.000000,0.000000,-6.000000,1.000000
25%,7.000000,9.000000,0.00000,1.510000e+02,0.000000,0.000000,32.000000,0.000000,1601.000000
50%,11.000000,16.000000,0.00000,4.485000e+02,0.000000,0.000000,43.000000,0.000000,3738.000000
75%,16.000000,23.000000,1.00000,1.496000e+03,3.000000,0.000000,49.000000,0.666667,3775.000000
max,23.000000,31.000000,1.00000,1.034245e+07,26127.000000,133.000000,99.000000,7.333333,6289.000000

In [45]:
list(df)

['TweetID',
 ' Weekday',
 ' Hour',
 ' Day',
 ' Lang',
 ' IsReshare',
 ' Reach',
 ' RetweetCount',
 ' Likes',
 ' Klout',
 ' Sentiment',
 ' text',
 ' LocationID',
 ' UserID']

In [46]:
del df[' Weekday']

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100001 entries, 0 to 100000
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TweetID        100000 non-null  object
 1    Hour          100000 non-null  float64
 2    Day           100000 non-null  float64
 3    Lang          100000 non-null  object
 4    IsReshare     100000 non-null  float64
 5    Reach         100000 non-null  float64
 6    RetweetCount  100000 non-null  float64
 7    Likes         100000 non-null  float64
 8    Klout         100000 non-null  float64
 9    Sentiment     100000 non-null  float64
 10   text          100000 non-null  object
 11   LocationID    100000 non-null  float64
 12   UserID        100000 non-null  object
dtypes: float64(9), object(4)
memory usage: 9.9+ MB

In [49]:
data.shape

(100001, 13)

In [53]:
del df[' Lang']
del df[' text']

KeyError: ' Lang'

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100001 entries, 0 to 100000
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TweetID        100000 non-null  object
 1    Hour          100000 non-null  float64
 2    Day           100000 non-null  float64
 3    IsReshare     100000 non-null  float64
 4    Reach         100000 non-null  float64
 5    RetweetCount  100000 non-null  float64
 6    Likes         100000 non-null  float64
 7    Klout         100000 non-null  float64
 8    Sentiment     100000 non-null  float64
 9    LocationID    100000 non-null  float64
 10   UserID        100000 non-null  object
dtypes: float64(9), object(2)
memory usage: 8.4+ MB

In [56]:
data.shape

(100001, 11)