# Preparación de los Datos

In [42]:
import pandas as pd

In [43]:
data = pd.read_csv('../datasets/twitter_trump_data.csv')

### Convertir a DataFrame

In [44]:
df = pd.DataFrame(data)

In [47]:
df.head()

,text,retweet_count,favorite_count,Followers,Follower_Change,Num_Tweets,Year,Month,Week,Day,Hour
0,Judge Kavanaugh showed America exactly why I n...,85502,320158,54672474,21128,12,2018,9,39,27,22
1,https://t.co/9o5gZlJiTd,17391,77145,54651346,20751,13,2018,9,39,26,23
2,Join me this Saturday in Wheeling West Virgini...,14484,52957,54651346,20751,13,2018,9,39,26,20
3,Congressman Lee Zeldin is doing a fantastic jo...,14949,65494,54651346,20751,13,2018,9,39,26,17
4,China is actually placing propaganda ads in th...,19236,58671,54651346,20751,13,2018,9,39,26,17

### Renombrar las columnas

In [48]:
df = df.rename(columns={
    "Followers": "followers",
    "Follower_Change": "follower_change",
    "Num_Tweets": "tweets",
    "Year": "year",
    "Month": "month",
    "Week": "week",
    "Day": "day",
    "Hour": "hour"
})

### Valores nulos por variable

In [50]:
df = df[df != 0]

In [51]:
pd.isnull(df).sum()

text                 0
retweet_count        0
favorite_count       0
followers            0
follower_change      8
tweets             118
year                 0
month                0
week                 0
day                  0
hour               600
dtype: int64

### Resumen estadístico básico de las variables numéricas

- count: Número de elementos no nulos
- mean: Promedio
- std: Desviación estándar
- min: Valor mínimo
- 25%: Primer cuartil
- 50%: Seg cuartil
- 75%: tercer cuartil
- max: valor maximo